body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:110px;
  top:40px;
  width:330px;
  height:450px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:450px;
}
#u1 {
  position:absolute;
  left:2px;
  top:217px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:110px;
  top:40px;
  width:330px;
  height:30px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:30px;
}
#u3 {
  position:absolute;
  left:2px;
  top:7px;
  width:326px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:115px;
  top:47px;
  width:9px;
  height:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:118px;
  top:80px;
  width:313px;
  height:32px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:32px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:110px;
  top:109px;
  width:330px;
  height:10px;
}
#u8_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_end {
  position:absolute;
  left:313px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_line {
  position:absolute;
  left:0px;
  top:5px;
  width:330px;
  height:1px;
}
#u9 {
  position:absolute;
  left:124px;
  top:122px;
  width:261px;
  height:80px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:80px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:115px;
  top:191px;
  width:1px;
  height:16px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:110px;
  top:223px;
  width:330px;
  height:10px;
}
#u13_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_end {
  position:absolute;
  left:313px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_line {
  position:absolute;
  left:0px;
  top:5px;
  width:330px;
  height:1px;
}
#u14 {
  position:absolute;
  left:115px;
  top:233px;
  width:136px;
  height:32px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:32px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:110px;
  top:265px;
  width:330px;
  height:10px;
}
#u16_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_end {
  position:absolute;
  left:313px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_line {
  position:absolute;
  left:0px;
  top:5px;
  width:330px;
  height:1px;
}
#u17 {
  position:absolute;
  left:367px;
  top:96px;
  width:65px;
  height:16px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
