body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:799px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:109px;
  top:40px;
  width:330px;
  height:450px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:450px;
}
#u1 {
  position:absolute;
  left:2px;
  top:217px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:110px;
  top:460px;
  width:328px;
  height:30px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:30px;
}
#u3 {
  position:absolute;
  left:2px;
  top:7px;
  width:324px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:110px;
  top:40px;
  width:330px;
  height:30px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:30px;
}
#u5 {
  position:absolute;
  left:2px;
  top:7px;
  width:326px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:115px;
  top:47px;
  width:9px;
  height:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:110px;
  top:68px;
  width:330px;
  height:182px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:182px;
}
#u9 {
  position:absolute;
  left:2px;
  top:83px;
  width:326px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:200px;
  top:220px;
  width:20px;
  height:20px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u11 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:230px;
  top:220px;
  width:20px;
  height:20px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u13 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:260px;
  top:220px;
  width:20px;
  height:20px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u15 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:290px;
  top:220px;
  width:20px;
  height:20px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u17 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:320px;
  top:220px;
  width:20px;
  height:20px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u19 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:115px;
  top:257px;
  width:53px;
  height:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:115px;
  top:273px;
  width:313px;
  height:32px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:32px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:115px;
  top:315px;
  width:117px;
  height:22px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:22px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:280px;
  top:315px;
  width:95px;
  height:16px;
  font-size:14px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:115px;
  top:337px;
  width:313px;
  height:10px;
}
#u28_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u28_end {
  position:absolute;
  left:296px;
  top:-5px;
  width:18px;
  height:20px;
}
#u28_line {
  position:absolute;
  left:0px;
  top:5px;
  width:313px;
  height:1px;
}
#u29 {
  position:absolute;
  left:111px;
  top:343px;
  width:135px;
  height:20px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:20px;
}
#u30 {
  position:absolute;
  left:2px;
  top:2px;
  width:131px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:246px;
  top:343px;
  width:182px;
  height:20px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:20px;
}
#u32 {
  position:absolute;
  left:2px;
  top:2px;
  width:178px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:115px;
  top:367px;
  width:305px;
  height:87px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:87px;
}
#u34 {
  position:absolute;
  left:2px;
  top:36px;
  width:301px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:180px;
  top:190px;
  width:200px;
  height:100px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u36 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:590px;
  top:234px;
  width:209px;
  height:16px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:16px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
