body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:800px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:463px;
  top:187px;
  width:337px;
  height:28px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:28px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:70px;
  top:40px;
  width:330px;
  height:450px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:450px;
}
#u3 {
  position:absolute;
  left:2px;
  top:217px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:70px;
  top:40px;
  width:330px;
  height:30px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:30px;
}
#u5 {
  position:absolute;
  left:2px;
  top:7px;
  width:326px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:75px;
  top:47px;
  width:9px;
  height:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:80px;
  top:77px;
  width:70px;
  height:63px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:63px;
}
#u9 {
  position:absolute;
  left:2px;
  top:24px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:160px;
  top:80px;
  width:36px;
  height:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:160px;
  top:126px;
  width:119px;
  height:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:82px;
  top:152px;
  width:70px;
  height:63px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:63px;
}
#u15 {
  position:absolute;
  left:2px;
  top:24px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:162px;
  top:152px;
  width:36px;
  height:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:162px;
  top:201px;
  width:119px;
  height:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:70px;
  top:141px;
  width:330px;
  height:10px;
}
#u20_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_end {
  position:absolute;
  left:313px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_line {
  position:absolute;
  left:0px;
  top:5px;
  width:330px;
  height:1px;
}
#u21 {
  position:absolute;
  left:70px;
  top:217px;
  width:330px;
  height:10px;
}
#u21_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_end {
  position:absolute;
  left:313px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_line {
  position:absolute;
  left:0px;
  top:5px;
  width:330px;
  height:1px;
}
