body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:445px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:110px;
  top:40px;
  width:330px;
  height:450px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:450px;
}
#u1 {
  position:absolute;
  left:2px;
  top:217px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:110px;
  top:40px;
  width:330px;
  height:30px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:30px;
}
#u3 {
  position:absolute;
  left:2px;
  top:7px;
  width:326px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:115px;
  top:47px;
  width:9px;
  height:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:216px;
  top:93px;
  width:64px;
  height:27px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:27px;
}
#u7 {
  position:absolute;
  left:2px;
  top:6px;
  width:60px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:130px;
  top:93px;
  width:60px;
  height:27px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:27px;
}
#u9 {
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:115px;
  top:157px;
  width:330px;
  height:10px;
}
#u10_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_end {
  position:absolute;
  left:313px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_line {
  position:absolute;
  left:0px;
  top:5px;
  width:330px;
  height:1px;
}
#u11 {
  position:absolute;
  left:296px;
  top:93px;
  width:64px;
  height:27px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:27px;
}
#u12 {
  position:absolute;
  left:2px;
  top:6px;
  width:60px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:130px;
  top:130px;
  width:60px;
  height:27px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:27px;
}
#u14 {
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:207px;
  top:130px;
  width:64px;
  height:27px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:27px;
}
#u16 {
  position:absolute;
  left:2px;
  top:6px;
  width:60px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:289px;
  top:130px;
  width:64px;
  height:27px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:27px;
}
#u18 {
  position:absolute;
  left:2px;
  top:6px;
  width:60px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:370px;
  top:93px;
  width:64px;
  height:27px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:27px;
}
#u20 {
  position:absolute;
  left:2px;
  top:6px;
  width:60px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:120px;
  top:177px;
  width:70px;
  height:63px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:63px;
}
#u22 {
  position:absolute;
  left:2px;
  top:24px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:200px;
  top:177px;
  width:53px;
  height:16px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:200px;
  top:208px;
  width:56px;
  height:16px;
  font-size:12px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:200px;
  top:226px;
  width:118px;
  height:16px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:16px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:200px;
  top:192px;
  width:145px;
  height:16px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:16px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:108px;
  top:242px;
  width:330px;
  height:10px;
}
#u31_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u31_end {
  position:absolute;
  left:313px;
  top:-5px;
  width:18px;
  height:20px;
}
#u31_line {
  position:absolute;
  left:0px;
  top:5px;
  width:330px;
  height:1px;
}
#u32 {
  position:absolute;
  left:122px;
  top:252px;
  width:70px;
  height:63px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:63px;
}
#u33 {
  position:absolute;
  left:2px;
  top:24px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:202px;
  top:252px;
  width:53px;
  height:16px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:202px;
  top:283px;
  width:56px;
  height:16px;
  font-size:12px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:202px;
  top:301px;
  width:118px;
  height:16px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:16px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:202px;
  top:267px;
  width:145px;
  height:16px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:16px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:110px;
  top:317px;
  width:330px;
  height:10px;
}
#u42_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u42_end {
  position:absolute;
  left:313px;
  top:-5px;
  width:18px;
  height:20px;
}
#u42_line {
  position:absolute;
  left:0px;
  top:5px;
  width:330px;
  height:1px;
}
#u43 {
  position:absolute;
  left:384px;
  top:50px;
  width:53px;
  height:16px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
