body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:445px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:110px;
  top:40px;
  width:330px;
  height:450px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:450px;
}
#u1 {
  position:absolute;
  left:2px;
  top:217px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:110px;
  top:40px;
  width:330px;
  height:30px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:30px;
}
#u3 {
  position:absolute;
  left:2px;
  top:7px;
  width:326px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:115px;
  top:47px;
  width:9px;
  height:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:115px;
  top:157px;
  width:330px;
  height:10px;
}
#u6_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_end {
  position:absolute;
  left:313px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_line {
  position:absolute;
  left:0px;
  top:5px;
  width:330px;
  height:1px;
}
#u7 {
  position:absolute;
  left:120px;
  top:177px;
  width:70px;
  height:63px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:63px;
}
#u8 {
  position:absolute;
  left:2px;
  top:24px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:200px;
  top:177px;
  width:53px;
  height:16px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:200px;
  top:217px;
  width:44px;
  height:16px;
  font-size:12px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:16px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:200px;
  top:197px;
  width:145px;
  height:16px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:16px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:108px;
  top:242px;
  width:330px;
  height:10px;
}
#u15_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_end {
  position:absolute;
  left:313px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_line {
  position:absolute;
  left:0px;
  top:5px;
  width:330px;
  height:1px;
}
#u16 {
  position:absolute;
  left:122px;
  top:252px;
  width:70px;
  height:63px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:63px;
}
#u17 {
  position:absolute;
  left:2px;
  top:24px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:202px;
  top:252px;
  width:79px;
  height:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:202px;
  top:293px;
  width:44px;
  height:16px;
  font-size:12px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:202px;
  top:272px;
  width:145px;
  height:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:110px;
  top:317px;
  width:330px;
  height:10px;
}
#u24_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_end {
  position:absolute;
  left:313px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_line {
  position:absolute;
  left:0px;
  top:5px;
  width:330px;
  height:1px;
}
#u25 {
  position:absolute;
  left:125px;
  top:77px;
  width:300px;
  height:65px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:30px;
  text-align:center;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:30px;
}
#u27 {
  position:absolute;
  left:2px;
  top:7px;
  width:70px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:74px;
  top:0px;
  width:74px;
  height:30px;
  text-align:center;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:30px;
}
#u29 {
  position:absolute;
  left:2px;
  top:7px;
  width:70px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:148px;
  top:0px;
  width:74px;
  height:30px;
  text-align:center;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:30px;
}
#u31 {
  position:absolute;
  left:2px;
  top:7px;
  width:70px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:222px;
  top:0px;
  width:73px;
  height:30px;
  text-align:center;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:30px;
}
#u33 {
  position:absolute;
  left:2px;
  top:7px;
  width:69px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:0px;
  top:30px;
  width:74px;
  height:30px;
  text-align:center;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:30px;
}
#u35 {
  position:absolute;
  left:2px;
  top:7px;
  width:70px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:74px;
  top:30px;
  width:74px;
  height:30px;
  text-align:center;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:30px;
}
#u37 {
  position:absolute;
  left:2px;
  top:7px;
  width:70px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:148px;
  top:30px;
  width:74px;
  height:30px;
  text-align:center;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:30px;
}
#u39 {
  position:absolute;
  left:2px;
  top:7px;
  width:70px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:222px;
  top:30px;
  width:73px;
  height:30px;
  text-align:center;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:30px;
}
#u41 {
  position:absolute;
  left:2px;
  top:7px;
  width:69px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:113px;
  top:140px;
  width:108px;
  height:23px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:23px;
}
#u43 {
  position:absolute;
  left:2px;
  top:4px;
  width:104px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:221px;
  top:140px;
  width:108px;
  height:23px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:23px;
}
#u45 {
  position:absolute;
  left:2px;
  top:4px;
  width:104px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:330px;
  top:140px;
  width:108px;
  height:23px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:23px;
}
#u47 {
  position:absolute;
  left:2px;
  top:4px;
  width:104px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:122px;
  top:327px;
  width:70px;
  height:63px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:63px;
}
#u49 {
  position:absolute;
  left:2px;
  top:24px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:202px;
  top:327px;
  width:79px;
  height:16px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:202px;
  top:368px;
  width:44px;
  height:16px;
  font-size:12px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:16px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:202px;
  top:345px;
  width:145px;
  height:16px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:16px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:110px;
  top:392px;
  width:330px;
  height:10px;
}
#u56_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u56_end {
  position:absolute;
  left:313px;
  top:-5px;
  width:18px;
  height:20px;
}
#u56_line {
  position:absolute;
  left:0px;
  top:5px;
  width:330px;
  height:1px;
}
#u57 {
  position:absolute;
  left:370px;
  top:370px;
  width:60px;
  height:55px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:55px;
}
#u58 {
  position:absolute;
  left:2px;
  top:20px;
  width:56px;
  word-wrap:break-word;
}
