body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:993px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:109px;
  top:40px;
  width:330px;
  height:450px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:450px;
}
#u1 {
  position:absolute;
  left:2px;
  top:217px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:110px;
  top:40px;
  width:330px;
  height:30px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:30px;
}
#u3 {
  position:absolute;
  left:2px;
  top:7px;
  width:326px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:115px;
  top:47px;
  width:9px;
  height:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:120px;
  top:80px;
  width:79px;
  height:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:120px;
  top:106px;
  width:143px;
  height:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:120px;
  top:132px;
  width:209px;
  height:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:404px;
  top:127px;
  width:12px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:18px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:22px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:115px;
  top:148px;
  width:315px;
  height:10px;
}
#u14_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_end {
  position:absolute;
  left:298px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_line {
  position:absolute;
  left:0px;
  top:5px;
  width:315px;
  height:1px;
}
#u15 {
  position:absolute;
  left:120px;
  top:168px;
  width:53px;
  height:16px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:114px;
  top:179px;
  width:315px;
  height:10px;
}
#u17_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_end {
  position:absolute;
  left:298px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_line {
  position:absolute;
  left:0px;
  top:5px;
  width:315px;
  height:1px;
}
#u18 {
  position:absolute;
  left:194px;
  top:203px;
  width:53px;
  height:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:120px;
  top:199px;
  width:53px;
  height:51px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:51px;
}
#u21 {
  position:absolute;
  left:2px;
  top:10px;
  width:49px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:194px;
  top:219px;
  width:72px;
  height:32px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:32px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:338px;
  top:234px;
  width:78px;
  height:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:114px;
  top:270px;
  width:315px;
  height:10px;
}
#u26_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_end {
  position:absolute;
  left:298px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_line {
  position:absolute;
  left:0px;
  top:5px;
  width:315px;
  height:1px;
}
#u27 {
  position:absolute;
  left:119px;
  top:290px;
  width:66px;
  height:16px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:113px;
  top:301px;
  width:315px;
  height:10px;
}
#u29_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u29_end {
  position:absolute;
  left:298px;
  top:-5px;
  width:18px;
  height:20px;
}
#u29_line {
  position:absolute;
  left:0px;
  top:5px;
  width:315px;
  height:1px;
}
#u30 {
  position:absolute;
  left:328px;
  top:290px;
  width:66px;
  height:16px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:116px;
  top:311px;
  width:66px;
  height:16px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:110px;
  top:322px;
  width:315px;
  height:10px;
}
#u34_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_end {
  position:absolute;
  left:298px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_line {
  position:absolute;
  left:0px;
  top:5px;
  width:315px;
  height:1px;
}
#u35 {
  position:absolute;
  left:192px;
  top:311px;
  width:100px;
  height:16px;
}
#u36 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u35_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u37 {
  position:absolute;
  left:270px;
  top:311px;
  width:170px;
  height:16px;
}
#u38 {
  position:absolute;
  left:16px;
  top:0px;
  width:152px;
  word-wrap:break-word;
}
#u37_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u39 {
  position:absolute;
  left:116px;
  top:337px;
  width:219px;
  height:16px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:16px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:340px;
  top:332px;
  width:90px;
  height:21px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:21px;
}
#u42 {
  position:absolute;
  left:2px;
  top:2px;
  width:86px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:380px;
  top:333px;
  width:10px;
  height:20px;
}
#u43_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u43_end {
  position:absolute;
  left:-5px;
  top:3px;
  width:20px;
  height:18px;
}
#u43_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:20px;
}
#u44 {
  position:absolute;
  left:109px;
  top:460px;
  width:251px;
  height:30px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:30px;
}
#u45 {
  position:absolute;
  left:2px;
  top:7px;
  width:247px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:360px;
  top:460px;
  width:80px;
  height:30px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u47 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:110px;
  top:353px;
  width:315px;
  height:10px;
}
#u48_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u48_end {
  position:absolute;
  left:298px;
  top:-5px;
  width:18px;
  height:20px;
}
#u48_line {
  position:absolute;
  left:0px;
  top:5px;
  width:315px;
  height:1px;
}
#u49 {
  position:absolute;
  left:120px;
  top:373px;
  width:297px;
  height:32px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:32px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:497px;
  top:40px;
  width:330px;
  height:450px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:450px;
}
#u52 {
  position:absolute;
  left:2px;
  top:217px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:498px;
  top:40px;
  width:330px;
  height:30px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:30px;
}
#u54 {
  position:absolute;
  left:2px;
  top:7px;
  width:326px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:503px;
  top:47px;
  width:9px;
  height:16px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:505px;
  top:73px;
  width:40px;
  height:16px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:761px;
  top:73px;
  width:46px;
  height:16px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:16px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:505px;
  top:89px;
  width:315px;
  height:10px;
}
#u61_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u61_end {
  position:absolute;
  left:298px;
  top:-5px;
  width:18px;
  height:20px;
}
#u61_line {
  position:absolute;
  left:0px;
  top:5px;
  width:315px;
  height:1px;
}
#u62 {
  position:absolute;
  left:505px;
  top:99px;
  width:40px;
  height:35px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:35px;
}
#u63 {
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:555px;
  top:99px;
  width:53px;
  height:16px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:498px;
  top:139px;
  width:315px;
  height:10px;
}
#u66_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u66_end {
  position:absolute;
  left:298px;
  top:-5px;
  width:18px;
  height:20px;
}
#u66_line {
  position:absolute;
  left:0px;
  top:5px;
  width:315px;
  height:1px;
}
#u67 {
  position:absolute;
  left:761px;
  top:109px;
  width:17px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:28px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:33px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:440px;
  top:277px;
  width:57px;
  height:100px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:100px;
}
#u70 {
  position:absolute;
  left:2px;
  top:34px;
  width:53px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:772px;
  top:49px;
  width:53px;
  height:16px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u73 {
  position:absolute;
  left:830px;
  top:43px;
  width:105px;
  height:20px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:20px;
}
#u74 {
  position:absolute;
  left:2px;
  top:2px;
  width:101px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:940px;
  top:47px;
  width:53px;
  height:16px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
