body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1034px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:110px;
  top:40px;
  width:330px;
  height:450px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:450px;
}
#u1 {
  position:absolute;
  left:2px;
  top:217px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:110px;
  top:40px;
  width:330px;
  height:30px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:30px;
}
#u3 {
  position:absolute;
  left:2px;
  top:7px;
  width:326px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:115px;
  top:47px;
  width:9px;
  height:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:115px;
  top:157px;
  width:330px;
  height:10px;
}
#u6_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_end {
  position:absolute;
  left:313px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_line {
  position:absolute;
  left:0px;
  top:5px;
  width:330px;
  height:1px;
}
#u7 {
  position:absolute;
  left:120px;
  top:177px;
  width:70px;
  height:63px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:63px;
}
#u8 {
  position:absolute;
  left:2px;
  top:24px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:200px;
  top:177px;
  width:100px;
  height:16px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:16px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:200px;
  top:208px;
  width:56px;
  height:16px;
  font-size:12px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:200px;
  top:226px;
  width:79px;
  height:16px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:200px;
  top:192px;
  width:145px;
  height:16px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:16px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:108px;
  top:242px;
  width:330px;
  height:10px;
}
#u17_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_end {
  position:absolute;
  left:313px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_line {
  position:absolute;
  left:0px;
  top:5px;
  width:330px;
  height:1px;
}
#u18 {
  position:absolute;
  left:122px;
  top:252px;
  width:70px;
  height:63px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:63px;
}
#u19 {
  position:absolute;
  left:2px;
  top:24px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:202px;
  top:252px;
  width:113px;
  height:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:202px;
  top:283px;
  width:56px;
  height:16px;
  font-size:12px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:202px;
  top:301px;
  width:79px;
  height:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:202px;
  top:267px;
  width:145px;
  height:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:110px;
  top:317px;
  width:330px;
  height:10px;
}
#u28_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u28_end {
  position:absolute;
  left:313px;
  top:-5px;
  width:18px;
  height:20px;
}
#u28_line {
  position:absolute;
  left:0px;
  top:5px;
  width:330px;
  height:1px;
}
#u29 {
  position:absolute;
  left:384px;
  top:50px;
  width:53px;
  height:16px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:122px;
  top:92px;
  width:70px;
  height:63px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:63px;
}
#u32 {
  position:absolute;
  left:2px;
  top:24px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:202px;
  top:92px;
  width:131px;
  height:16px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:16px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:202px;
  top:123px;
  width:56px;
  height:16px;
  font-size:12px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:202px;
  top:141px;
  width:71px;
  height:16px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:202px;
  top:107px;
  width:145px;
  height:16px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:16px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:505px;
  top:226px;
  width:529px;
  height:28px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:529px;
  height:28px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:529px;
  white-space:nowrap;
}
