body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:774px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:170px;
  top:150px;
  width:49px;
  height:28px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:227px;
  top:159px;
  width:200px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u3 {
  position:absolute;
  left:450px;
  top:150px;
  width:73px;
  height:28px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:277px;
  top:143px;
  width:40px;
  height:16px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:170px;
  top:217px;
  width:49px;
  height:28px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:227px;
  top:226px;
  width:200px;
  height:10px;
}
#u9_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u10 {
  position:absolute;
  left:277px;
  top:210px;
  width:40px;
  height:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:450px;
  top:217px;
  width:73px;
  height:28px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:533px;
  top:150px;
  width:241px;
  height:28px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:28px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  white-space:nowrap;
}
